hr {
    margin-bottom: $spacing-unit / 2;
}

li {
    // For consistency with other elements.
    margin: 15px 0;
}

.intro {
    color: #ffffff;
    background-color: #0074D9;
    margin-top: -30px;
    padding: 32px 0;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;

    .intro-icons svg {
        width: 92px;
        height: 92px;
    }

    .intro-lead {
        font-weight: bold;
        font-size: 1.5em;
    }

    a {
        color: white;
        font-weight: bold;
    }
}

.home {
    margin-top: 32px;
}

.social-links {
    list-style: none;
    margin: 0;

    li {
        margin-bottom: 4px;

        a {
            color: $grey-color;
        }
    }
}

.anchor {
    visibility: hidden;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    visibility: visible;
}

.toc {
    border: 1px solid #e0c33f;
    background-color: #ffffea;
    padding: 16px;
    margin-bottom: 16px;

    .toc-header {
        font-size: inherit;
        font-weight: bold;
        margin-bottom: 8px;
    }

    ul {
        margin: 0 32px;
    }

    li {
        margin: 0;
    }

    @media (min-width: $on-large) {
        float: right;
        max-width: 256px;
        margin-left: 32px;
        margin-bottom: 32px;
    }
}

.ratio169 {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    & > iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}