// This is partially based on <https://piccalil.li/blog/a-more-modern-css-reset/>.

*,
*::before,
*::after {
    box-sizing: border-box;
}

// Prevent font size inflation
:root {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

// More sensible line heights
:root {
    line-height: 1.5;
}

h1, h2, h3, h4 {
    line-height: 1.3;
}

// Remove default margin in favour of better control in authored CSS
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
}

// Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

// Remove border in favour of custom styling
hr {
    color: inherit;
    border: none;
}

// Make images and videos easier to work with
img, picture, video {
    max-width: 100%;
}
