
<section class="intro">
    <div class="wrapper">
        {% set social = config.extra.social_links -%}
        <p class="intro-icons" aria-hidden="true">
            <svg><use xlink:href="{{ get_url(path='intro-icons.svg#crab') }}"></use></svg>
            <svg><use xlink:href="{{ get_url(path='intro-icons.svg#heart') }}"></use></svg>
            <svg><use xlink:href="{{ get_url(path='intro-icons.svg#joystick') }}"></use></svg>
        </p>
        <p class="intro-lead">
            Making Rust a first-class choice for game development
        </p>
        <p>
            The Rust game development working group's goals are to improve the experience of using Rust to make games, and to make it accessible even if you're not an experienced engine/graphics developer.
        </p>
        <p>
            Join us on
            <a href="https://github.com/{{ social.github | urlencode }}/wg"><svg class="svg-icon"><use xlink:href="{{ get_url(path='minima-social-icons.svg#github') }}"></use></svg> Github</a>
            or
            <a href="https://discord.gg/{{ social.discord | urlencode }}"><svg class="svg-icon"><use xlink:href="{{ get_url(path='minima-social-icons.svg#discord') }}"></use></svg> Discord</a>,
            and help shape the future of game development in Rust!
        </p>
    </div>
</section>

<div class="home wrapper">
    <h2 class="post-list-heading">{{ section.title | default(value="Latest News") }}</h2>
    
    {% set posts = get_section(path="posts/_index.md") %}
    {% if posts and posts.pages | length > 0 %}
        <ul class="post-list">
            {% for post in posts.pages | reverse %}
                <li>
                    {% if post.date %}
                        {% set date_format = config.extra.date_format | default(value="%b %-d, %Y") %}
                        <span class="post-meta">{{ post.date | date(format=date_format) }}</span>
                    {% endif %}

                    <h3>
                        <a class="post-link" href="{{ post.permalink }}">
                            {{ post.title }}
                        </a>
                    </h3>
                    
                    {% if config.extra.show_summaries %}
                        {{ page.summary | default(value=page.content | safe | striptags | trim | truncate(length=100)) }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="grey">None yet - stay tuned for updates and announcements!</p>
    {% endif %}

    <p class="feed-subscribe">
        <a href="{{ get_url(path='rss.xml') }}">
            <svg class="svg-icon orange"><use xlink:href="{{ get_url(path='minima-social-icons.svg#rss') }}"></use></svg><span>Subscribe</span>
        </a>
    </p>
</div>
