---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Some of the default colors do not meet the WCAG 2.0 accessibility
// guidelines for contrast.
$grey-color: #595959; 
$brand-color: #1757AA;

@import "minima";
@import "extra";
