{% import "includes/post_list.html" as macros %}
<!DOCTYPE html>
<html lang="{{ lang }}">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        {% block seo %}
            <title>{{ config.title | default(value="Minima") }}</title>

            <meta property="og:title" content="{{ config.title | default(value="Minima") }}">

            {% if config.description %}
                <meta name="description" content="{{ config.description }}">
                <meta property="og:description" content="{{ config.description }}">
            {% endif %}
            
            <meta property="og:url" content="{{ get_url(path='/' )}}">
            <meta property="og:type" content="website">

            <link rel="canonical" href="{{ get_url(path='/' )}}">
        {% endblock seo %}

        <meta property="og:image" content="{{ get_url(path='logo.png') }}">
        <meta property="og:image:width" content="200">
        <meta property="og:image:height" content="200">
        <meta property="og:site_name" content="{{ config.title | default(value="Minima") }}">

        <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path='apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path="favicon-32x32.png") }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path="favicon-16x16.png") }}">
        <link rel="manifest" href="{{ get_url(path="site.webmanifest") }}">
    
        {% if config.generate_rss %}
            <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") }}">
        {% endif %}
    
        {% if config.extra.google_analytics %}
            {% include "includes/google-analytics.html" %}
        {% endif-%}
    </head>    

    <body>
        {% include "includes/header.html" %}

        <main class="page-content" aria-label="Content">
            {% block content %}
                {% include "includes/home.html" %}
            {% endblock content %}
        </main>

<div id="mc_embed_signup">
    <form action="https://hohenheim.us18.list-manage.com/subscribe/post?u=ea530715a8887b4b70c833c76&amp;id=78d9b3b77c&amp;f_id=0059c2e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <div id="mc_embed_signup_scroll"><h2>Subscribe</h2>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
        <div id="mce-responses" class="clear foot">
            <div class="response" id="mce-error-response" style="display: none;"></div>
            <div class="response" id="mce-success-response" style="display: none;"></div>
        </div>
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
        /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
        <input type="text" name="b_ea530715a8887b4b70c833c76_78d9b3b77c" tabindex="-1" value="">
    </div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
            </div>
        </div>
    </div>
  </form>
</div>

        {% include "includes/footer.html" %}
    </body>
</html>
